@use "../mixin.scss" as *;
@use "../variable.scss" as *;

.btn {
  @include flex(center, center, null, 0.5rem);
  border: 0;
  outline: none;
  cursor: pointer;
}

.login-submit {
  @include long(null);
  background: $clr-gradient;
}

.btn-register-login {
  color: #3e79db;
  cursor: pointer;
}

.btn-login-register {
  color: #3e79db;
  cursor: pointer;
}

.forgot-password-btn {
  cursor: pointer;
  color: #3e79db;
}

.check-email {
  padding: 0.5rem 0.5rem;
  background: $clr-gradient;
  cursor: pointer;
  color: white;
  font-weight: $fw-semi-bold;
  font-size: 12px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn-login-forgot {
  color: #3e79db;
  cursor: pointer;
}
