@use "../mixin.scss" as *;
@use "../variable.scss" as *;

.btn {
  @include flex(center, center, null, 0.5rem);
  border: 0;
  outline: none;
  cursor: pointer;
}

.login-submit {
  @include long(null);
  background: $clr-gradient;
}

.btn-register-login {
  color: #3e79db;
  cursor: pointer;
}

.btn-login-register {
  color: #3e79db;
  cursor: pointer;
}

.forgot-password-btn {
  cursor: pointer;
  color: #3e79db;
}
